
WORKDIR /
RUN set -xe && mkdir -p ${MODEL_DIR} ${DIFFUSION_DIR} ${CHECKPOINT_DIR} ${VAE_DIR} ${CLIP_DIR} ${UNET_DIR} ${LORA_DIR}
# Define a persistent temporary file path
ENV ARIA2C_TMP_FILE="/tmp/download.txt"

# --- Qwen Models ---
COPY --chown=root:root <<EOF "${ARIA2C_TMP_FILE}"
https://huggingface.co/nunchaku-tech/nunchaku-qwen-image-edit-2509/resolve/main/svdq-int4_r32-qwen-image-edit-2509-lightningv2.0-4steps.safetensors?download=true
  dir=${DIFFUSION_DIR}
  out=svdq-int4_r32-qwen-image-edit-2509-lightningv2.0-4steps.safetensors
EOF
RUN set -xe && aria2c -i "${ARIA2C_TMP_FILE}" -j 4 --max-connection-per-server=10 && rm -f "${ARIA2C_TMP_FILE}"

COPY --chown=root:root <<EOF "${ARIA2C_TMP_FILE}"
https://huggingface.co/Comfy-Org/Qwen-Image_ComfyUI/resolve/main/split_files/vae/qwen_image_vae.safetensors?download=true
  dir=${VAE_DIR}
  out=qwen_image_vae.safetensors
EOF
RUN set -xe && aria2c -i "${ARIA2C_TMP_FILE}" -j 4 --max-connection-per-server=10 && rm -f "${ARIA2C_TMP_FILE}"

COPY --chown=root:root <<EOF "${ARIA2C_TMP_FILE}"
https://huggingface.co/Comfy-Org/Qwen-Image_ComfyUI/resolve/main/split_files/text_encoders/qwen_2.5_vl_7b_fp8_scaled.safetensors?download=true
  dir=${CLIP_DIR}
  out=qwen_2.5_vl_7b_fp8_scaled.safetensors
EOF
RUN set -xe && aria2c -i "${ARIA2C_TMP_FILE}" -j 4 --max-connection-per-server=10 && rm -f "${ARIA2C_TMP_FILE}"

# --- LoRAs ---
COPY --chown=root:root <<EOF "${ARIA2C_TMP_FILE}"
https://huggingface.co/dx8152/Qwen-Edit-2509-Multiple-angles/resolve/main/%E9%95%9C%E5%A4%B4%E8%BD%AC%E6%8D%A2.safetensors?download=true
  dir=${LORA_DIR}
  out=qwen-image-edit-2509-multi-angles.safetensors
EOF
RUN set -xe && aria2c -i "${ARIA2C_TMP_FILE}" -j 4 --max-connection-per-server=10 && rm -f "${ARIA2C_TMP_FILE}"

# # SAM2 model for segmentation
# COPY --chown=root:root <<EOF "${ARIA2C_TMP_FILE}"
# https://huggingface.co/1038lab/sam2/resolve/main/sam2.1_hiera_large-fp16.safetensors?download=true
#   dir=${MODEL_DIR}/sam2
#   out=sam2.1_hiera_large-fp16.safetensors
# EOF
# RUN set -xe && aria2c -i "${ARIA2C_TMP_FILE}" -j 4 --max-connection-per-server=10 && rm -f "${ARIA2C_TMP_FILE}"

# # GroundingDino model for object detection/segmentation
# COPY --chown=root:root <<EOF "${ARIA2C_TMP_FILE}"
# https://huggingface.co/1038lab/GroundingDINO/resolve/main/groundingdino_swinb_cogcoor.safetensors?download=true
#   dir=${MODEL_DIR}/grounding-dino
#   out=groundingdino_swinb_cogcoor.safetensors

# https://huggingface.co/1038lab/GroundingDINO/resolve/main/GroundingDINO_SwinB.cfg.py?download=true
#   dir=${MODEL_DIR}/grounding-dino
#   out=GroundingDINO_SwinB.cfg.py
# EOF
# RUN set -xe && aria2c -i "${ARIA2C_TMP_FILE}" -j 4 --max-connection-per-server=10 && rm -f "${ARIA2C_TMP_FILE}"

# SAM3 model for segmentation
COPY --chown=root:root <<EOF "${ARIA2C_TMP_FILE}"
https://huggingface.co/1038lab/sam3/resolve/main/sam3.pt?download=true
  dir=${MODEL_DIR}/sam3
  out=sam3.pt
EOF
RUN set -xe && aria2c -i "${ARIA2C_TMP_FILE}" -j 4 --max-connection-per-server=10 && rm -f "${ARIA2C_TMP_FILE}"

# Copy local models
COPY ./models/MEXX_QWEN_TG300_23.safetensors ${LORA_DIR}/
COPY ./models/consistenceEditV2.WOzE.safetensors ${LORA_DIR}/
COPY ./models/qwenMysticxxxV1.rkUk.safetensors ${LORA_DIR}/
COPY ./models/clothesTryonQwenEdit.safetensors ${LORA_DIR}/
COPY ./models/extractOutfitV3.safetensors ${LORA_DIR}/
COPY ./models/poseTransferV2Qwen.safetensors ${LORA_DIR}/

