# Download more models 
COPY --chown=root:root <<EOF "${ARIA2C_TMP_FILE}"
https://huggingface.co/ostris/qwen_image_edit_inpainting/resolve/main/qwen_image_edit_inpainting.safetensors?download=true
  dir=${LORA_DIR}
  out=qwen_image_edit_inpainting.safetensors
EOF
RUN set -xe && aria2c -i "${ARIA2C_TMP_FILE}" -j 4 --max-connection-per-server=10 && rm -f "${ARIA2C_TMP_FILE}"

